/* Estilos generales */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;

  display: revert;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1d24;
  font-family: sans-serif;
}

.layout-box {
  max-inline-size: 1280px;
  margin-inline: auto;
  /* la primera propiedad (max-inline-size = max-width) se pone para que no llege a ocupar el
    ancho completo. 
    Destacar que los tamaños que se utilizan para que queden encajonada suelen ser 1280 1110 1100 */

  /* Con margin inline auto se especifica que por el lado izquierdo
    y derecho se centre */
}
/* Fin estilos generales */

/* Este archivo es una mezcla entre el archivo reset de luis cuando el bootcamp y con algunas reglas que le he añadido
genéricas en todo el código */
