
/* Estilos generales */
*:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {

    all: unset;

    display: revert;

}

li {

    list-style-type: none;

}

* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: #1a1d24;
    font-family: sans-serif;
}
/* Fin estilos generales */


/* Inicio header */

.layout-box {
    max-inline-size: 1280px;
    margin-inline: auto;
    /* la primera propiedad (max-inline-size = max-width) se pone para que no llege a ocupar el
    ancho completo. 
    Destacar que los tamaños que se utilizan para que queden encajonada suelen ser 1280 1110 1100 */

    /* Con margin inline auto se especifica que por el lado izquierdo
    y derecho se centre */
}

div.position-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1a1d24;
    /* No sería mala práctica poner el valor 10 debido a que queremos que 
    siempre el header esté por encima de todo al hacer sticky */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    background-color: #1a1d24;
    /* padding-inline: 50px; */
    /* block-size = height */
}

.header .nav ul {
    display: flex;
    align-items: center;
}

.header img {
    cursor: pointer;
}

.header .nav ul.menu {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #ffffff;
}

.header .nav .menu .item {
    font-size: 14px;
    /* font-size = tamaño de fuente */
    font-weight: bold;
    /* font-weith = peso de fuente */
    text-transform: uppercase;
    /* text-transform = cambio entre mayúsculas y minúsculas */
    border-bottom: 2px solid transparent;
    /* se le ha puesto transparente para que 
    cuando se haga hover sobre los elementos no se
    suban arriba */
    padding-block-end: 5px;
    /* padding-block-end = padding bottom */
}

.header .nav .menu .item:hover {
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}

.header .nav ul.social {
    /* Es un contenedor flex pero en este caso se omite
    porque en la regla .header .nav ul ya está puesto el flex */
    gap: 15px;
}

.header .tools {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header .menu .separator {
    font-size: 15px;
}

.header .separator {
    font-size: 25px;
    color: #737373;
}

.header svg {
    fill: #ffffff;
    inline-size: 23px;
    block-size: 23px;
    cursor: pointer;
    /* Fill Sirve para dar color al SVG */
    /* inline-size = width */
    /* block-size = height */
}

.header .search:hover {
    fill: #40f30a;
}

.header .twitter:hover {
    fill: #6de9ff;
}

.header .facebook:hover {
    fill: #0281e9;
}

.header .insta:hover {
    fill: #cb2e8e;
}

.header .youtube:hover {
    fill: #e0011a;
}
/* Fin HEADER */




/* Apartado Tyler Perry */
.news {
    display: flex;
    gap: 30px;
    position: relative;
}

.main .news .new-hallowen img {
    height: 610px;
    width: 850px;
    object-fit: cover;
}


.news .data-title {
    max-inline-size: 400px;
    padding-block-start: 33px;
    padding-inline-start: 29px;
    position: absolute;
    bottom: 0;
    right: 150px;
    background-color: #1a1d24;
}

.news .data-title h2 {
    font-size: 37px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.news .data-title p {
    font-size: 14px;
    color: #a8a8a8;
    margin-block: 24px;
}

.news .data-title a {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.news .data-title a:hover {
    color: #e0011a;
}

.news .aside .title {
    font-size: 17px;
    margin-block-end: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}


.news .aside .item {
    display: flex;
    gap: 18px;
}

.news .aside .item-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.aside .hover {
    cursor: pointer;
}

.aside p.hover:hover {
    color: #808080;
    transition: 0.3s;
}

.news .aside .item-date {
    color: #a8a8a8;
    font-size: 11px;
    text-transform: uppercase;
}

.aside time.hover:hover {
    color: #ffffff;
    transition: 0.3s;
}

.news .aside .list-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Fin apartado Tyler Perry */






/* Sección Recient Trailers/Slider */

.section-recent-trailers {
    margin-block-start: 100px;
    height: 400px;
    background-color: #f2f2f2ee;
}

.nav-recent-trailers {
    position: relative;
    bottom: 60px;
    color: #8b8b8b;
}

.nav-recent-trailers button {
    text-transform: uppercase;
    color: #8b8b8b;
    font-weight: bold;
    cursor: pointer;
}

.nav-recent-trailers button:hover {
    color: #ffffff;
    transition: 0.3s;
}

.recent-trailers {
    position: relative;
    bottom: 50px;
}


.section-recent-trailers .recent-trailers {
    display: flex;
    gap: 100px;
    /* height: 300px; */
    /* Este height le da la altura a las cuatro imágenes de antes del samurai */
    /* justify-content: space-evenly; */
    /* position: relative;
    bottom: 50px; */
}


.recent-trailers .svg-play-films:hover {
    fill: #297eff;
}


.section-recent-trailers .recent-trailers .trailer-film-1 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://pics.filmaffinity.com/Metal_Lords-409396188-large.jpg");
}

.section-recent-trailers .recent-trailers .trailer-film-1,
.section-recent-trailers .recent-trailers .trailer-film-2,
.section-recent-trailers .recent-trailers .trailer-film-3,
.section-recent-trailers .recent-trailers .trailer-film-4,
.section-recent-trailers .recent-trailers .trailer-film-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-width: 298px; */
    height: 300px;
    width: 15%;
    /* Este height le da la altura a las cuatro imágenes de antes del samurai, parece que da igual
    si se pone en el padre de los cuatro article que incluyen las cuatro imágenes de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.section-recent-trailers .recent-trailers .trailer-film-1:hover {
    background-image: url(../../img/metal-lords.jpg);
}

.section-recent-trailers .recent-trailers .trailer-film-2 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://m.media-amazon.com/images/M/MV5BMjM3NzQ5NDcxOF5BMl5BanBnXkFtZTgwNzM4MTQ5NTM@._V1_.jpg");
}

.section-recent-trailers .recent-trailers .trailer-film-2:hover {
    background-image: url(../../img/valak\(cuidado\ que\ está\ muy\ grande\ y\ asusta\).jpg);
}

.section-recent-trailers .recent-trailers .trailer-film-3 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://pics.filmaffinity.com/Blackwood-825395198-large.jpg");
}

.section-recent-trailers .recent-trailers .trailer-film-3:hover {
    background-image: url(../../img/blackwood.jpg);
}

.section-recent-trailers .recent-trailers .trailer-film-4 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://pics.filmaffinity.com/Assassin_s_Creed-664654874-large.jpg");
}

.section-recent-trailers .recent-trailers .trailer-film-4:hover {
    background-image: url(../../img/ac.jpg);
}

.section-recent-trailers .recent-trailers .trailer-film-5 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://pics.filmaffinity.com/The_Dirt-567303583-large.jpg");
}

.section-recent-trailers .recent-trailers .trailer-film-5:hover {
    background-image: url(../../img/The_Dirt.jpg);
}


/* Slider recent trailers */
div.alert-text {
    position: relative;
    left: 22%;
    bottom: 10%;
    display: flex;
    gap: 20px;
}

.alert-text .films-genre a {
    cursor: pointer;
    font-weight: bold;
}

.alert-text .films-genre a:hover {
    color: #273f43;
    font-weight: bolder;
    border-bottom: 1px solid #273f43;
    transition: 0.3s;
}

.bullets-icon ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bullets-icon li>div {
    height: 15px;
    width: 15px;
    background-color: #a8a8a8;
    border-radius: 50%;
    cursor: pointer;
}
/* Fin apartado recent trailers/slider */





/* Sección del Samurai */

.background-image {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("https://filmax.themerex.net/wp-content/uploads/2018/01/bg_samurai.jpg?id=458");
    background-size: cover;
    background-repeat: no-repeat;
    height: 410px;
    position: relative;
}

.info-samurai .flex-samurai {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.flex-samurai .flex-platforms {
    display: flex;
    gap: 20px;
}

.background-image .info-samurai {
    position: absolute;
    left: 54%;
    top: 20%;
}

.info-samurai .samurai-arrow {
    display: flex;
    align-items: center;
    color: #e0011a;
    cursor: pointer;
    text-transform: uppercase;
}

.info-samurai .info-trailer {
    display: flex;
    gap: 35px;
    cursor: pointer;
    text-transform: uppercase;
}

.info-samurai .play-trailer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
}

.play-trailer:hover {
    color: #e0011a;
    border-bottom: 1px solid #e0011a;
    transition: 0.3s;
}

.info-samurai .samurai-text {
    margin-block-start: 30px;
    margin-block-end: 30px;
    color: #737373;
    font-size: 15px;
    inline-size: 90%;
    /* Esta etiqueta referente al párrafo tiene una anchura para que se pueda ajustar el texto */
}

.flex-samurai h2 {
    color: #737373;
    font-size: 13px;
    text-transform: uppercase;
}

.flex-samurai h3 {
    color: #1a1d24;
    font-size: 37px;
    text-transform: uppercase;
}

.flex-samurai span {
    color: #1a1d24;
    font-size: 13px;
}
/* Fin apartado sección del samurai */






/* Sección después del samurai */

.various-pictures {
    display: flex;
    cursor: pointer;
}

.various-pictures .trailer-info {
    display: flex;
    gap: 20px;
    display: none;
    /* Al poner none, me desaparecen y con el hover me vuelven a aparecer  */
}

.various-pictures .trailer-info a:hover {
    color: #a8a8a8b6;
    transition: 0.3s;
}

.various-pictures .article-1:hover .trailer-info,
.various-pictures .article-2:hover .trailer-info,
.various-pictures .article-3:hover .trailer-info,
.various-pictures .article-4:hover .trailer-info {
    bottom: 50px;
    gap: 50px;
    transition: all 0.5s 0.5s;
    padding: 30px;
    display: flex;
    text-transform: uppercase;
}


.various-pictures .trailer-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}


.various-pictures .info-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.various-pictures .article-1 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-27-copyright-485x665.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
}


.various-pictures .article-2 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.8)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-25-copyright-485x665.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
}


.various-pictures .article-3 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-29-copyright-485x665.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.various-pictures .article-4 {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.5)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-23-copyright-485x665.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.various-pictures .link {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.various-pictures .inline-links {
    display: flex;
    gap: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.various-pictures a.film-title {
    color: #ffffff;
    font-size: 27.8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.various-pictures .trailer-info a {
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

.various-pictures .article-2-title {
    text-align: center;
}
/* Fin sección del samurai */




/* Sección de comentarios */
div.commentaries-container {
    background-color: #e0011a;
    padding: 100px;
}

section.people-comentaries {
    display: flex;
    gap: 44px;
}

section.people-comentaries div.flex-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.people-comentaries div.flex-image svg {
    position: relative;
    bottom: 0;
    height: 23px;
    width: 23px;
    cursor: not-allowed;
}

section.people-comentaries img {
    width: 70px;
    border-radius: 50%;
}


section.people-comentaries p.paragraph-styles {
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 14px;
}

section.people-comentaries p.paragraph-styles:hover {
    border-bottom: 1px solid #7df359;
}

section.people-comentaries div.identification-styles {
    text-align: center;
    color: #ffffff;
}

section.people-comentaries div.identification-styles:hover {
    text-align: center;
    color: #3cf3b6e7;
}

section.people-comentaries div.identification-styles h4 {
    font-weight: bold;
}





/* Apartado con CSS Grid */
/* La prrimera columna ocupa el doble de la segunda y tercera */
.section-container {
    background-color: #ffffff;
    padding-block: 120px;
    /* padding-bock = padding top y padding bottom */
}


div.info-latest-news {
    margin-block-end: 25px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 270px);
    gap: 30px;
}

.grid .grid-1 {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 30px;
    grid-row: 1/3;
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.7)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-3-copyright.jpg");
}


.grid .grid-2 {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-image: linear-gradient(to top right, rgb(0 0 0 / 0.8)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-12-copyright.jpg");
    opacity: 85%;
}


.grid .grid-3 {
    padding: 30px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.7)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-5-copyright.jpg");
}


.grid .grid-4 {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 30px;
    grid-column: 2/4;
    background-image: linear-gradient(to top right, rgb(0 0 0 / 0.7)0%, transparent 60%), url("https://filmax.themerex.net/wp-content/uploads/2017/12/post-6-copyright.jpg");
}

.grid [class^="grid-"] {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


/* Apartado CSS Grid (Estilos de Texto) */
.section-container h2 {
    font-weight: bold;
    color: #1a1d24;
    margin-block-end: 10px;
    font-size: 1.5em;
}

.section-container p {
    font-size: 16px;
    color: #eeb1b1;
}

.grid .grid-1 h3>a {
    color: #ffffff;
    font-size: 37px;
    cursor: pointer;
    font-weight: bold;
}


.grid div>a {
    color: #f8b350;
    font-size: 13px;
    cursor: pointer;
}

.grid .grid-2 h3>a,
.grid .grid-3 h3>a {
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}

.grid .grid-4 h3>a {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.grid time {
    color: #d2d2d2;
    font-weight: 11px;
    cursor: pointer;
}

.grid time:hover {
    color: #ffffff;
}
/* Fin apartado CSS Grid */







/* Botones fijos */
.fixed-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: fixed;
    right: 0;
    top: 45%;
    transform: -50%;
}

.fixed-buttons [class^="fixed-button-"] {
    background-color: #273f43;
    block-size: 50px;
    inline-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fixed-buttons .fixed-button-4 {
    margin-block-start: 50px;
    position: relative;
}

.fixed-buttons [class^="fixed-button-"]:hover {
    background-color: #131414;
    /* opacity: 70%; */
}







/* Footer */

footer div.size-container {
    padding-block: 100px;
    display: flex;
    justify-content: space-between;
}

footer div.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .footer-flex-links {
    display: flex;
    flex-direction: column;
}

footer .flex-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .footer-newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .flex-arrow {
    display: flex;
    border-bottom: 1px solid #808080;
}

footer .flex-arrow:hover {
    border-bottom: 1px solid #e0011a;
}

footer .footer-flex-input-media {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer input {
    padding-block-end: 15px;
}

.footer .arrow-input {
    block-size: 23px;
    inline-size: 23px;
}


.footer h4 {
    font-weight: bold;
    color: #ffffff;
}

.footer a,
.footer p,
.footer input {
    font-size: 14px;
    color: #a8a8a8;
}

.footer a {
    cursor: pointer;
}

.footer a:hover {
    color: #ffffff;
}

.footer .footer-red-line {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* Fin footer */